
<script src="/socket.io/socket.io.js"></script>
<script>
  alert("hello");
  var socket = io();
  socket.on('news', function (data) {
  console.log(data);
  socket.emit('my other event', { my: 'data' });
  });
</script>
